// app global css in SCSS form
//  Login Page Css start here
.login-card-sm {
  width: 300px;
  margin: auto;
  text-align: center;
}
.login-card-md {
  width: 400px;
  margin: auto;
  text-align: center;
}
.login-btn {
  width: 100%;
}
.login-forget {
  opacity: 0.4;
}
